html {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

div {
  display: inline-block;
  text-align: center;
  margin: 300px auto;
}

h2 {
  position: relative;
  padding: 20px;
  position: relative;
  transition: color 3s;
}

h2:before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 1s linear;
}

h2:after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: red;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-delay: 4s;
  transition: transform 1s linear;
}

h2:hover:before {
  transform: scaleX(1);
  transform-origin: bottom right;
}

h2:hover:after {
  transform: scaleX(1);
}
